<div class="row">
	<aside class="col-sm-3">
		<div class="row">
			<section class="col-sm-12">
				<%= render 'shared/user_info', user: current_user %>
			</section>
			<section class="col-sm-12">
				<%= render 'shared/stats' %>
			</section>
			<section class="col-sm-12">
				<a class="btn btn-large btn-primary" href="<%= new_race_path %>">Add a Race</a>
			</section>
			<section class="col-sm-12">
				<%= render 'shared/micropost_form' %>
			</section>
		</div>
	</aside>
	<div class="col-sm-9">
		<h3>Races Feed</h3>
		<%= render 'shared/race_feed' %>
<!-- 	</div>
	<div class="col-sm-8"> -->
		<h3>Micropost Feed </h3>
		<%= render 'shared/feed' %>
	</div>
</div>