<li class="list-group-item">
	<div class="name">Race: <b><%= race.name %></b></div>
	<div class="date">Date: <%= race.date.to_formatted_s(:long) %></div>
	<% if race.location %>
		<div class="time">Location: <%= race.location %></div>
	<% end %>
	<% if race.time %>
		<div class="time">
			Time: <%= race.time[:hours] %> hours,
			<%= race.time[:minutes] %> minutes, 
			<%= race.time[:seconds] %> seconds
		</div>
	<% end %>
	<div class="description">Description: <%= race.description %></div>
	<% if current_user?(race.user) %>
		<%= link_to "edit race", edit_race_path(race) %>
	<% end %>
	<% if current_user?(race.user) %>
		 | <%= render 'shared/delete', object:race %>
	<% end %>
</li>