<li class="list-group-item">
	<div class="name">
		Race: 
		<%= link_to(race) do %>
			<b><%= race.name %></b>
		<% end %>
		<div class="pull-right">
		<% if current_user?(race.user) %>
			<%= render 'shared/edit_delete_race', object:race %>
		<% end %>
		</div>
	</div>
	<div class="date">Date: <%= race.date.to_formatted_s(:long) %></div>
	<div class="racetype">Race Type: <%= racetype_given(race.racetype) %></div>
	<% if race.distance %>
		<div class="distance">Distance: <%= race.distance %> miles</div>
	<% end %>
	<% if race.location != "" %>
		<div class="time">Location: <%= race.location %></div>
	<% end %>
	<% if race.time[:minutes] %>
		<div class="time">
			Time: 
			<% if race.time[:hours] != "00" %>
				<%= race.time[:hours] %>h
			<% end %>
			<%= race.time[:minutes] %>m
			<%= race.time[:seconds] %>s
		</div>
	<% end %>
	<% if race.time && race.distance %>
		<div class="pace">Pace: <%= racepace(race.time, race.distance) %> min/mi</div>
	<% end %>
	<% if race.description != "" %>
		<div class="description">Description: <%= race.description %></div>
	<% end %>
	<div class="comments">Comments: <%= race.race_comments.count %> </div>
</li>