<li class="list-group-item">
	<div class="name">
		Race: 
		<%= link_to(race) do %>
			<b><%= race.name %></b>
		<% end %>
		<div class="pull-right">
		<% if current_user?(race.user) %>
			<%= render 'shared/edit_delete_race', object:race %>
		<% end %>
		</div>
	</div>
	<div class="date">Date: <%= race.date.to_formatted_s(:long) %></div>
	<div class="racetype">Race Type: <%= racetype_given(race.racetype) %></div>
	<% if race.distance %>
		<div class="distance">Distance: <%= race.distance %></div>
	<% end %>
	<% if race.location %>
		<div class="time">Location: <%= race.location %></div>
	<% end %>
	<% if race.time %>
		<div class="time">
			Time: <%= race.time[:hours] %> hours,
			<%= race.time[:minutes] %> minutes, 
			<%= race.time[:seconds] %> seconds
		</div>
	<% end %>
	<div class="description">Description: <%= race.description %></div>
	<div class="comments">Comments: <%= race.race_comments.count %> </div>
</li>