<%= provide(:title, 'New Race Entry') %>
<h3>New race entry for <%= current_user.name %></h3>

<div class="row">
	<div class="span6">
		<%= form_for(@race) do |f| %>
			<%= render 'shared/error_messages', object: f.object%>
			<%= f.label :name %>
			<%= f.text_field :name,  placeholder: "Enter the race name"%>

			<%= f.label :distance %>
			<%= f.text_field :distance,  placeholder: "How long was the race?"%>

			<%= f.label :location %>
			<%= f.text_field :location,  placeholder: "Where was the race?" %>

			<%= f.label :bibnumber, "Bib Number" %>
			<%= f.text_field :bibnumber,  placeholder: "What was your bib number?"%>

			<%= f.label :time , "Time (HH:MM:SS)"%>
			<%= f.text_field :time, value: "", placeholder: "Enter your finish time" %>

			<%= f.label :date %>
			<%= f.text_field :date,  placeholder: "When did you run it?"%>

			<%= f.label :description %>
			<%= f.text_area :description, placeholder: "How did it go?"%>


			<%= f.submit "Add race", class: "btn btn-large btn-primary" %>
		<% end %>
	</div>
</div>

