<%= provide(:title, @race.name) %>
<div class="row">
	<aside class="col-md-3 col-sm-4">
		<section>
			<%= render 'shared/user_info', user: @user %>
		</section>
		<section>
			<%= render 'shared/stats' %>
		</section>
	</aside>
	<div class="col-md-9 col-sm-8">
		<ul class="list-group">
			<li class="name list-group-item">Race: <b><%= @race.name %></b></li>
			<li class="date list-group-item">Date: <%= @race.date.to_formatted_s(:long) %></li>
			<li class="racetype list-group-item">Race Type: <%= racetype_given(@race.racetype) %></li>
			<% if @race.distance %>
				<li class="distance list-group-item">Distance: <%= @race.distance %></li>
			<% end %>
			<% if @race.location %>
				<li class="location list-group-item">Location: <%= @race.location %></li>
			<% end %>
			<% if @race.time %>
				<li class="time list-group-item">
					Time: <%= @race.time[:hours] %> hours,
					<%= @race.time[:minutes] %> minutes, 
					<%= @race.time[:seconds] %> seconds
				</li>
			<% end %>
			<li class="description list-group-item">Description: <%= @race.description %></li>
			<% if current_user?(@race.user) %>
				<%= render 'shared/edit_delete_race', object:@race %>
			<% end %>
		</ul>
	</div>
</div>
