<%= provide(:title, @race.name) %>
<div class="row">
	<aside class="col-md-3 col-sm-4">
		<section>
			<%= render 'shared/user_info', user: @user %>
		</section>
		<section>
			<%= render 'shared/stats' %>
		</section>
	</aside>
	<div class="col-md-9 col-sm-8">
		<div class="row text-center">
			<h3>
				<strong><%=@user.name%></strong>'s entry for <strong><%= @race.name %></strong>
			</h3>
		</div>
		<ul class="list-group">
			<li class="name list-group-item">Race: <b><%= @race.name %></b></li>
			<li class="date list-group-item">Date: <%= @race.date.to_formatted_s(:long) %></li>
			<li class="racetype list-group-item">Race Type: <%= racetype_given(@race.racetype) %></li>
			<% if @race.distance %>
				<li class="distance list-group-item">Distance: <%= @race.distance %> miles</li>
			<% end %>
			<% if @race.location != "" %>
				<li class="location list-group-item">Location: <%= @race.location %></li>
			<% end %>
			<% if @race.time[:minutes] %>
				<li class="time list-group-item">
					Time: 
					<% if @race.time[:hours] != "00" %>
						<%= @race.time[:hours] %>h
					<% end %>
					<%= @race.time[:minutes] %>m
					<%= @race.time[:seconds] %>s
				</li>
			<% end %>
			<% if @race.time && @race.distance %>
				<li class="pace list-group-item">Pace: <%= racepace(@race.time, @race.distance) %> min/mi</li>
			<% end %>
			<% if @race.description != "" %>
				<li class="description list-group-item">Description: <%= @race.description %></li>
			<% end %>
			<% if current_user?(@race.user) %>
				<%= render 'shared/edit_delete_race', object:@race %>
			<% end %>
		</ul>
		<section class="col-xs-12">
			<%= render 'race_comments/race_comment_form' %>
		</section>
		<section class="col-xs-12">

			<% if @race.race_comments.any? %>
				<h3>Comments: <%= @race.race_comments.count %></h3>
				<ol class="microposts list-group">
					<%= render @current_race_comments %>
				</ol>
				<%= will_paginate @current_race_comments, renderer: BootstrapPagination::Rails %>
			<% end %>
		</section>
	</div>
</div>
