<%= provide(:title, @user.name) %>
<div class="row">
	<aside class="col-md-3 col-sm-4 col-xs-12">
		<section>
			<%= render 'shared/user_info', user: @user %>
		</section>
		<section>
			<%= render 'shared/stats' %>
		</section>
	</aside>
	<div class="col-md-9 col-sm-8 col-xs-12">
	<%= render 'follow_form' if signed_in? %>
		<h3>Races (<%= @user.races.count %>)</h3>
		<%= render 'shared/race_list' %>

		<% if @user.microposts.any? %>
			<h3>Microposts (<%= @user.microposts.count %>)</h3>
			<ol class="microposts list-group">
				<%= render @microposts %>
			</ol>
			<%= will_paginate @microposts, renderer: BootstrapPagination::Rails %>
		<% end %>
	</div>
</div>
