<%= provide(:title, @title) %>
<div class="row">
	<aside class="span3">
		<section>
			<%= render 'shared/user_info', user: @user %>
		</section>
		<section>
			<%= render 'shared/stats' %>
		</section>
		<section>
			<a class="btn btn-large btn-primary" href="<%= new_race_path %>">Add a Race</a>
		</section>
	</aside>
	<div class="span8">
		<h3>Races (<%= @user.races.count %>)</h3>
		<%= render 'shared/race_list' %>
	</div>
</div>
