<%= provide(:title, @title) %>
<div class="row">
	<aside class="span3">
		<section>
			<%= gravatar_for @user %>
			<h1>
				<%= link_to @user.name, @user %>
			</h1>
			<h2>
				<%= @user.email %>
			</h2>
		</section>
		<section>
			<%= render 'shared/stats' %>
		</section>
		<section>
			<a class="btn btn-large btn-primary" href="<%= new_race_path %>">Add a Race</a>
		</section>
	</aside>
	<div class="span8">
		<h3>Races (<%= @user.races.count %>)</h3>
		<%= render 'shared/race_feed' %>
	</div>
</div>
