<li id="<%= race_feed_item.id %>" class="list-group-item">
	<%= link_to gravatar_for(race_feed_item.user), race_feed_item.user %>
	<span class="user">
		<%= link_to race_feed_item.user.name, race_feed_item.user %>
	</span>
	<span class="content">ran the 
		<%= link_to(race_feed_item) do %>
			<%= race_feed_item.name %> 
		<% end %>
		on <%= race_feed_item.date%></span>
	<span class="description">
		<%= race_feed_item.description %>
	</span>
</li>