<%= link_to gravatar_for(current_user, size:52), current_user %>
<h1>
	<%= current_user.name %>
</h1>
<h2>
	<%= current_user.location %>
</h2>
<span>
	<%= link_to "view my profile", current_user %>
</span>
<span>
	<%= pluralize(current_user.microposts.count, "micropost") %>
</span>